<div type="{{lineType}}"
		highlight="{{highlightAttributeRepresentation}}"
		class="line {{lineClassAttributeRepresentation}} {{nicknameType}}"
		id="line{{lineNumber}}"
		nick="{{nickname}}">
{{#nickname}}
{{/nickname}}
{{#isRemoteMessage}}
	<p>
{{/isRemoteMessage}}

{{^isRemoteMessage}}
	<p type="{{nicknameType}}">
{{/isRemoteMessage}}
	<table id="messagetable" style="width: 98%; word-wrap:break-word; table-layout: fixed;">
		<tbody id="messagetablebody">
		<tr id="senderrow">
			<td align="left" width="1" style="white-space: nowrap;">
			<span class="sender"
				type="{{nicknameType}}"
				nick="{{nickname}}"
				{{#nicknameColorHashingEnabled}}
					colornumber="{{nicknameColorNumber}}"
				{{/nicknameColorHashingEnabled}}>
				{{nickname}}
			</span>
			</td>
		</tr>
		<tr>
			<td valign="top">
			<span class="bubble">
				{{{formattedMessage}}}
				{{#inlineMediaAvailable}}
					{{#inlineMediaArray}}
						<a href="{{{anchorLink}}}"><img src="{{{imageURL}}}" class="inlineimage" style="max-width: {{preferredMaximumWidth}}px;" title="Hide image by shift clicking." /></a>
					{{/inlineMediaArray}}
				{{/inlineMediaAvailable}}
			</span>
			<span class="time">{{formattedTimestamp}}</span>				
			</td>
		</tr>
		</tbody>
	</table>
	</p>
</div>