<div type="{{lineType}}" class="line {{lineClassAttributeRepresentation}}" id="line-{{lineNumber}}">
		<span class="time" title="{{localizedTimestamp}}>{{formattedTimestamp}} </span>
		<span class="message" type="{{lineType}}">
			{{{formattedMessage}}}
		</span>
</div>