<div type="{{lineType}}"
		highlight="{{highlightAttributeRepresentation}}"
		class="line {{lineClassAttributeRepresentation}} {{nicknameType}}"
		id="line{{lineNumber}}"
		nick="{{nickname}}">
{{#nickname}}
{{/nickname}}

{{#isRemoteMessage}}
	<p>
{{/isRemoteMessage}}

{{^isRemoteMessage}}
	<p type="{{nicknameType}}">
{{/isRemoteMessage}}
	<table width="100%">
	<tr>
			<td valign="top" width="1" style="white-space: nowrap;">
			<span class="sender"
				type="{{nicknameType}}"
				nick="{{nickname}}"
				{{#nicknameColorHashingEnabled}}
					colornumber="{{nicknameColorNumber}}"
				{{/nicknameColorHashingEnabled}}>
				{{formattedNickname}}
			</span>
			</td>
			<td align="left">
				<span class="time">{{formattedTimestamp}} </span>
				{{{formattedMessage}}}
			</td>
		</span>
	</tr>
	<tr>
			<td colspan="2" valign="top" align="center">
					{{#inlineMediaAvailable}}
						{{#inlineMediaArray}}
							<a href="{{{anchorLink}}}"><img src="{{{imageURL}}}" class="inlineimage" style="max-width: {{preferredMaximumWidth}}px;" title="Hide image by shift clicking." /></a>
						{{/inlineMediaArray}}
					{{/inlineMediaAvailable}}
			</td>
	</tr>
	</table>
	</p>
</div>
